.gradle
.settings
build
clientgen
.classpath
.project
*.bak
*.lock
*.bin
mainGeneratedRest/
target
WebContent/WEB-INF/classes
WebContent/WEB-INF/lib
*.iml
.idea/
bin/
build.properties
.svn
*.class
idl/
mainGenerated*/
snapshot/
*.DS_Store
